@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@font-face {
  font-family: "iran-sans";
  src: url("../../content/fonts/Iranian-Sans.ttf");
}

html {
  font-size: 16px;
}

body {
  font-family: "iran-sans";
}

:root {
  --content-width: 100%;
  --sidebar-toggler-rotate: 0deg;
  --main-background-color: #f8f9fa;
  --main-cards-background: #ffffff;
  --main-cards-text-color: #161616;
  --color-scheme: light;
  color-scheme: var(--color-scheme);
}

.font-eng {
  font-family: "Roboto", sans-serif;
}

.notif-count {
  font-size: .5rem;
}

.cursor-pointer {
  cursor: pointer !important;
}

.nav-link.show {
  color: var(--main-cards-text-color) !important;
}

.left-navbar .badge {
  position: relative;
  right: 8px;
}

#main-sidebar {
  width: 270px;
  height: 100vh;
  top: 80px;
  position: fixed;
}

@media screen and (max-width: 768px) {
  #main-sidebar {
    top: 55px;
  }
}

.sidebar-notif-count {
  position: relative;
  bottom: 12px;
  right: 3px;
}

.sidebar-notif-title {
  font-size: .8rem;
}

.sidebar-footer {
  position: absolute;
  bottom: 12%;
}

.sidebar-footer .change-theme-toggler {
  right: 5px;
  width: 50px;
  height: 50px;
  background-color: var(--bs-dark);
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(255, 255, 255, 0.2), 0px 0px 10px 0px rgba(255, 255, 255, 0.2) inset;
          box-shadow: 0px 0px 10px -5px rgba(255, 255, 255, 0.2), 0px 0px 10px 0px rgba(255, 255, 255, 0.2) inset;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.sidebar-footer .change-theme-toggler:active {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2), 0px 0px 10px 0px rgba(255, 255, 255, 0.2) inset;
          box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2), 0px 0px 10px 0px rgba(255, 255, 255, 0.2) inset;
}

.sidebar-footer .change-theme-toggler .theme-icon {
  position: absolute;
  left: 150%;
  -webkit-transition: left .4s;
  transition: left .4s;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.theme-icon.show {
  left: 50% !important;
}

.content-container {
  -webkit-transition: width .2s;
  transition: width .2s;
  margin-top: 80px;
  width: var(--content-width);
}

@media screen and (max-width: 768px) {
  .content-container {
    margin-top: 40px;
  }
}

#navbar-open-sidebar {
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: rotate(var(--sidebar-toggler-rotate));
          transform: rotate(var(--sidebar-toggler-rotate));
}

.menu-arrow-icon {
  font-size: .9rem;
  margin-bottom: 5px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.menu-items .item.collapsed .menu-arrow-icon {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.up-cards-icon {
  font-size: 1.2rem;
}

.center-card {
  padding: 0px 10px;
}

.center-card .center-card-footer-title {
  font-size: 1rem;
  opacity: .7;
  font-weight: bold;
}

.down-card {
  padding: 0px 10px;
}

.down-card .down-card-table {
  white-space: nowrap;
}

#main-navbar-colors {
  background-color: var(--main-background-color);
  color: var(--main-cards-text-color);
  -webkit-transition: background-color .4s, color .4s;
  transition: background-color .4s, color .4s;
}

#main-content-colors {
  background-color: var(--main-background-color);
  -webkit-transition: background-color .4s, color .4s;
  transition: background-color .4s, color .4s;
}

#center-card-colors {
  background-color: var(--main-cards-background);
  color: var(--main-cards-text-color);
  -webkit-transition: background-color .4s, color .4s;
  transition: background-color .4s, color .4s;
}

#down-card-colors {
  background-color: var(--main-cards-background);
  color: var(--main-cards-text-color);
  -webkit-transition: background-color .4s, color .4s;
  transition: background-color .4s, color .4s;
}

#down-table-colors {
  color: var(--main-cards-text-color);
  -webkit-transition: color .4s;
  transition: color .4s;
}
/*# sourceMappingURL=main.css.map */